%h1.text-center
  = "There are #{Pokemon.count} Pokémon."
%p.text-center
  = "#{Pokemon.first.inspect}"

%h1.text-center
  = "There are #{EggGroup.count} Egg Groups."
%p.text-center
  = "#{EggGroup.first.inspect}"

%h1.text-center
  = "There are #{Type.count} Types."
%p.text-center
  = "#{Type.first.inspect}"

- Pokemon.all.each do |poke|
  %img{src: poke.image_url, style: "width: 5%"}
